$titleTransition = 0.7s

header
	hideselect()
	position fixed
	width 100%
	z-index 10
	transition top $titleTransition $kinetic
	h1
		display none

#fluid-title
	hideselect()
	display block
	position relative
	width 100%
	padding $padding
	// display flex
	// justify-content space-between
	height 95vh
	transition height $titleTransition $kinetic
	&::after
		content ''
		z-index 20
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background $primary
	.letters
		display block
		height 100%
		float left
		position relative
		z-index 30
		svg
			display block
			height 100%
			height 'calc(95vh - %s)' % ($padding*2)
			width auto
			transition height $titleTransition $kinetic
		&:nth-child(1)
			width 33.3333%
			transition width $titleTransition $kinetic
		&:nth-child(2)
			width 33.3333%
			transition width $titleTransition $kinetic
		&:nth-child(3)
			padding $padding 0
			position absolute
			left 66.6666%
			top 0
			width auto
			transition left $titleTransition $kinetic, transform $titleTransition $kinetic

body:not(.is-loading)
	header, #fluid-title, #fluid-title *
		transition none !important

[page-type=home],
[page-type=contact]
	header
		top $menu2x
	#fluid-title
		height calc(60vmin - (1.6rem + 2px) * 2)
		svg
			height 'calc(60vmin - (1.6rem + 2px) * 2 - %s)' % ($padding*2)


[page-type=about]
	header
		top calc(100vh - (45vmin - (1.6rem + 2px) * 2))
	#fluid-title
		height calc(45vmin - (1.6rem + 2px) * 2)
		svg
			height 'calc(45vmin - (1.6rem + 2px) * 2 - %s)' % ($padding*2)

[page-type=projects],
[page-type=project]
	header
		top 0
	#fluid-title
		height 20vh
		svg
			height 'calc(20vh - %s)' % ($padding*2)
		.letters
			&:nth-child(1)
				width 'calc(33.3333% + %s)' % ($padding/2 - 0.2)
			&:nth-child(2)
				width 'calc(33.3333% + %s)' % ($padding/2 - 0.2)
			&:nth-child(3)
				left 'calc(66.6666% + %s)' % ($padding/2 - 0.2)

[page-type=project]
	header
		top 0
	#fluid-title
		height 20vh
		svg
			height 'calc(20vh - %s)' % ($padding*2)
		.letters:nth-child(1)
			width 50%
		.letters:nth-child(2)
			width 50%
		.letters:nth-child(3)
			left 100%
			transform 'translateX(calc(-100% - %s)) translateZ(0)' % $padding

+above($sm + 1)
	[page-type=projects]
		#primary-nav
			padding-right 0.6rem
		#secondary-nav
			flex-grow 1
			padding-left 0
			a.language
				position absolute
				top 0
				right $padding
		&[data-filter=true]
			#primary-nav
				flex-grow 1
			#secondary-nav
				a.language
					flex-grow 0 !important

+below($sm)
	[page-type=home]
		#fluid-title
			height calc(80vmin - (1.6rem + 2px) * 2)
			svg
				height 'calc(80vmin - (1.6rem + 2px) * 2 - %s)' % ($padding*2)
			.letters:nth-child(1)
				width 18%
			.letters:nth-child(3)
				left 100%
				transform 'translateX(calc(-100% - %s)) translateZ(0)' % $padding
		header
			top calc(1.1rem * 2 + 2px)
	[page-type=contact]
		header
			top calc(2.8rem * 2 + 2px)
		#secondary-nav p:first-child
			width 100%
	[page-type=home],
	[page-type=about],
	[data-filter=true][page-type=projects]
		#secondary-nav
			height 0
			border none
			position absolute
			top 0
			left 0
			a:not(.language)
				display none
	[page-type=project], [page-type=projects]
		header
			top 0
		#fluid-title
			height 15vh
			svg
				height 'calc(15vh - %s)' % ($padding*2)
			.letters:nth-child(1)
				width 47%
			.letters:nth-child(2)
				width 50%
			.letters:nth-child(3)
				left 100%
				transform 'translateX(calc(-100% - %s)) translateZ(0)' % $padding
		#primary-nav
			flex-wrap wrap
			padding-left 0
			padding-right 2.4rem
			a.active
				box-shadow 0 -1px 0 0 $secondary, 0 1px 0 0 $secondary
			a:not(.active):not(.language)
				display none
			a:nth-child(3)
				border-left 0 !important
				padding-left $padding
		#secondary-nav
			overflow visible
