.lightbox
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  padding 7%
  background alpha($primary, 0.83)
  cursor url(../../images/close-b.png) 8 8, not-allowed !important
  .ph
    display none
  img
    position static
    width 100%
    height 100%
    object-fit contain
