#menu
	hideselect()
	display flex
	justify-content space-between
	position fixed
	left 0
	width 100%
	background $secondary
	color $primary
	z-index 10
	&.visible
		visibility visible
	+below($sm)
		display block

#primary-nav, #secondary-nav
	text-transform uppercase
	display inline-flex
	padding 0 ($padding)
	& > *
		position relative
		padding .3em 0
		&:not(:last-child)
			padding-right 1em
	& > li > ul
		display inline-flex
		position absolute
		background $secondary
		width 100vw
		top 1.2em
		left 0
		&::after
			content ''
			position fixed
			z-index -1
			background $secondary
			height 2.8em
			width 100%
			left 0
			top 0
		& > li
			position relative
			padding .3em 0
			z-index 1
			&:not(:last-child) a
				padding-right 1em
	& > li:not(:hover) > ul
		display none

#languages
	text-transform uppercase
	a:not(:last-child)
		&::after
			content ' / '
