.video-container
	position relative
	cursor none
	.video-cursor
		align()
		opacity 0
		pointer-events none
		width 4.2rem
		height 4.2rem
		// background $primary
		// color $secondary
		color $primary
		mix-blend-mode difference
		// border 1px solid
		border-radius 100%
		display flex
		justify-content center
		align-items center
	.seekbar
		display none
		cursor pointer
		position absolute
		bottom 0
		left $padding
		width 'calc(100% - %s)' % ($padding*2)
		padding ($padding*1.5) 0
		+below($md)
			display block !important
		&::after
			content ''
			position absolute
			top 50%
			left 0
			width 100%
			height 1px
			background $primary
		.thumb
			align(vertical)
			left 0
			width 1px
			height ($padding)
			background $primary
	.play-cursor
		&::after
			content 'PLAY'
	.pause-cursor
		display none
		&::after
			content 'PAUSE'
	&.video-is-playing
		.play-cursor
			display none
		.pause-cursor
			display flex
	&:hover
		.seekbar
			display block
		+above($md + 1)
			.video-cursor
				opacity 1
