[page-type=about]
	background $secondary
	color $primary
	#page-content
		padding ($padding*5) $padding !important
	#about-logo
		filter: invert(1)

#about-logo
	span(1)
	width 12rem
	height 12rem
	margin-bottom ($padding*3)
	svg
		width 100%
		height 100%

#about-text
	span(1)
	margin-bottom ($padding*3)

#about-contact
	span(1/2)
	margin-bottom ($padding*3)

#about-address
	// margin-bottom ($padding*3)

#about-socials
	span(1/2)
	line-height $line-height
	// column-count 3
	// margin-bottom ($padding*3)

#newsletter
	line-height $line-height
	span(1)
	margin-bottom ($padding*3)

#credits
	span(1)
	line-height $line-height


#about-panel
	position fixed
	z-index 50
	top 0
	right 0
	width 50rem
	padding ($padding*4) ($padding*5) 0
	height 100%
	background alpha($primary, 0.83)
	color $secondary
	transition transform 500ms $kinetic
	transform translateX(100%) translateZ(0)
	+below($md)
		width 100%
		padding ($padding*3) $padding 0
		#credits
			margin-bottom ($padding*3)
	.about-close
		position absolute
		top 0
		right 0
		padding 0.4rem $padding
		+below($md)
			padding 0.5em $padding
	[data-scroll]
		width 100%
		height 100%
		float left
	.inner-scroll
		width 100%
		float left
		padding-bottom ($padding*5)
	.message_area
		margin 0
		border none !important
		background transparent !important
		color $secondary !important
		margin ($padding/2) 0
	.field
		&:not(:first-child)
			margin-top $padding
		input
			margin-top ($padding/2)
	input, button
		color $secondary
		appearance none
		border-radius 0
		box-shadow 0
		border 1px solid alpha($secondary, 0.2)
		background transparent
		font-family inherit
		letter-spacing inherit
		font-size 1rem
		padding 0.3em
		margin 0
		align-items center
		&:not([type="button"])
			width 100%
		&:active, &:focus
			outline none
		&::placeholder
			color $secondary
			font-size inherit
			font-family inherit
			text-transform uppercase
	button
		text-transform uppercase
		border none
		box-shadow none
		font-size inherit
		font-family inherit
		letter-spacing inherit
		cursor pointer
		&[type="submit"]
			margin-top $padding
			border 1px solid alpha($secondary, 0.2)
			padding 0.6em .6em 0.3em
			line-height 1
		&.close
			padding 0 .5em

body.about-panel
	#main
		pointer-events none
	#about-panel
		transform none
	+above($md + 1)
		#menu
			width calc(100% - 50rem)
		#player, .shopify-buy-frame--toggle
			transform translateX(-50rem) translateZ(0) !important
