#artist-medias
	hideselect()
	span(1)
	height 100vh
	position relative
	background $primary
	transition transform 500ms $kinetic
	& > [data-scroll]
		position relative
		width 100vw
		overflow hidden
	& > .inner-scroll
		height 100%
		display table
	.artist-image
		height 100vh
		display table-cell
		padding 0
		margin 0
		// padding-top 1.5rem
		overflow hidden
		img
			height 100%
		video
			object-fit cover
		&:not(:last-child)
			padding-right 5px

#infos-btn
	position absolute
	bottom 0
	left 0
	padding $padding
	mix-blend-mode difference
	color $primary
	z-index 10

#player
	line-height $line-height
	position absolute
	bottom 0
	right 0
	padding $padding
	mix-blend-mode difference
	color $primary
	text-align right
	z-index 10
	transition transform 500ms $kinetic

body:not(.player-playing)
	#player
		visibility hidden

#artist-panel
	span(1)
	color $secondary
	background $primary
	padding 0 $padding
	height 50vh
	position fixed
	width 100%
	left 0
	top 100%
	transition transform 500ms $kinetic

#panel-close
	position absolute
	bottom 0
	left 0
	padding $padding

#artist-infos
	span(1/2)
	height 100%
	padding-right ($padding/2)
	line-height $line-height
	height calc(100% - 3rem)
	position relative
	overflow hidden
	& > .inner-scroll
		padding-top $padding
		padding-bottom $padding
		width 100%
		float left
	#artist-title
		margin-bottom $padding
	#artist-description
		span(2/3)
	#artist-links
		span(1/3)
	#artist-description
		padding-right ($padding*2)
		// text-align justify
	#artist-links
		& > div
			&:not(:last-child)
				margin-bottom $padding
			div:first-child
				span(1/4)
				padding-right $padding
			div:last-child
				span(3/4)
				a
					display block
					float left
					clear both

#artist-releases
	span(1/2)
	height 100%
	line-height $line-height
	padding-left ($padding/2)
	overflow hidden
	.inner-scroll
		width 100%
		float left
		padding-top $padding
		padding-bottom $padding
	.release
		span(1)
		height 100%
		&:not(:last-child)
			margin-bottom $padding
		.responsive-image, .release-infos
			span(1/2)
		.responsive-image
			padding-right ($padding/2)
			height "calc(50vh - %s)" % ($padding*4)
			img
				height 100%
				object-fit contain
				object-position top left
		.release-infos
			padding-left ($padding/2)
	.tracklist
		margin-top $padding
		.track
			cursor pointer
			width 100%
			display inline-flex
			flex-wrap wrap
		.track > div
			&:first-child
				flex-grow 1
			&:not(:last-child)
				margin-right 1em
			&:last-child
				&::after
					content 'PLAY'
		.track.amplitude-playing > div
			&:last-child
				&::after
					content 'PAUSE'

body.infos-panel
	#artist-medias
		transform translateY(-50vh) translateZ(0)
	#artist-panel
		transform translateY(-50vh) translateZ(0)
