#page-content[page-type=project]
	position relative
	+above($sm + 1)
		padding-top calc(20vh + (1.6rem + 2px))

#project-medias
	hideselect()
	span(1/2)
	padding $padding
	transform none
	+below($sm)
		stack()
		height auto !important
	+above($sm+1)
		position fixed
		left 0

#project-infos
	span(1/2, $offset: 1/2)
	padding $padding
	+below($sm)
		stack()
	+above($sm+1)
		padding-left 0

#project-technical
	margin-bottom $padding
	.row
		small()
		display flex
		&> *
			flex 1 1 50%

#project-description
	p
		line-height 1.2
		margin-bottom 0

