#shop
	// hideselect()
	span(1)
	position relative
	background $primary
	transition transform 500ms $kinetic
	+above($md + 1)
		height 100vh
		overflow-y hidden
	& > [data-scroll]
		+above($md + 1)
			position relative
			width 100vw
			overflow hidden
	& > .inner-scroll
		+above($md + 1)
			height 100%
			display table
	.product-image
		padding 0
		margin 0
		// padding-top 1.5rem
		overflow hidden
		transition transform 500ms $kinetic
		+above($md + 1)
			height 100vh
			display table-cell
		+below($md)
			width 100%
			height auto
		img
			height 100%
			width auto
		video
			object-fit cover
	.product-infos
		span(1)
		width calc(100% - 4px)
		position absolute
		top 100%
		left 0
		color $secondary
		background $primary
		height 80vh
		transition transform 500ms $kinetic
		+below($md)
			height 100vw
			width 100%
		.inner-scroll
			padding $padding $padding ($padding*3) $padding
	.product
		display table-cell
		position relative
		+below($md)
			display block
			overflow hidden
			span(1)
		[event-target=product-panel]
			cursor url('../../images/arrow-top.png') 8 8, n-resize !important
		&:not(:last-child)
			.product-image
				padding-right 4px
		&.opened
			[event-target=product-panel]
				cursor url('../../images/arrow-bottom.png') 8 8, s-resize !important
			.product-image
				transform translateY(-80vh) translateZ(0)
				+below($md)
					transform translateY(-100vw) translateZ(0)
			.product-infos
				transform translateY(-80vh) translateZ(0)
				+below($md)
					transform translateY(-100vw) translateZ(0)
			.panel-open
				display none
		&:not(.opened)
			.panel-close
				display none

body.product-opened
	#shop
		.product:not(.opened)
			[event-target=product-panel]
				cursor url('../../images/close-b.png') 8 8, not-allowed !important

.panel-close, .panel-open
	align(horizontal)
	text-transform uppercase
	color $primary
	mix-blend-mode difference
	position absolute
	bottom 0
	padding $padding

.buy
	.price
		margin-bottom ($padding/2)
		&:empty
			display none

.shopify-buy__btn
	display flex
	flex-direction column
	align-items center
	margin $padding 0
	position relative
	// left -0.6rem

[page-type*=shop]
	.buy-button, .shopify-buy__btn
		cursor pointer
		width 4.2rem
		height 4.2rem
		background $secondary
		color $primary
		padding 1.3rem
		// color #009dff !important
		border 1px solid $secondary
		font-size inherit
		font-family inherit
		letter-spacing inherit
		border-radius 100%
		display flex
		justify-content center
		align-items center
		transition color 150ms ease, background 150ms ease
		&:hover
			background $primary
			color $secondary

.product-infos
	span(1/2)
	height 100%
	padding-right ($padding/2)
	line-height $lineheight
	height calc(100% - 2rem)
	position relative
	overflow hidden
	+below($md)
		padding 0
	.inner-scroll
		width 100%
		float left
	.product-title
		margin-bottom ($padding*3)
	.product-description
		span(1/2)
		margin-bottom ($padding*3)
		+above($md + 1)
			padding-right ($padding*3)
		+below($md)
			stack()
	.buy
		span(1/2)
		+above($md + 1)
			padding-left 1%
		+below($md)
			// stack()
			margin-bottom ($padding*3)
	.left, .right
		span(1/2)
		& > *:not(:last-child)
			margin-bottom $padding
	.left
		span(1)
		// padding-right ($padding/2)
	.right
		display none
		padding-left ($padding/2)
	.product-tracklist, .product-moreinfos
		span(1/2)
		margin-bottom ($padding*3)
		+below($md)
			stack()
		.table
			line-height 1.3
			width 100%
			tr
				display flex
				td
					width 50%
	.product-links
		margin-bottom ($padding*3)
		line-height 1.3
		+below($md)
			span(1/2)
		.table
			line-height 1.3
			.table-row
				.table-cell:last-child
					width 100%
		& > div
			&:not(:last-child)
				// margin-bottom $padding
			div:first-child
				span(1/4)
				padding-right $padding
			div:last-child
				span(3/4)
	.product-medias
		margin-top ($padding*3)
		.responsive-image
			cursor pointer
			span(1/3)
			width 'calc(33.33333333% - %s)' % $padding
			margin-right $padding
			+below($md)
				stack()
				margin-bottom $padding

[page-type*=shop]
	.shopify-buy__product__price
		font-size 2rem
		letter-spacing normal

.shopify-buy__option-select
	span(1)
	margin-top $padding
	.shopify-buy__option-select__label
		span(1)
	.shopify-buy__option-select-wrapper
		position relative
		display inline-block
		.shopify-buy__option-select__select
			display block
			text-transform uppercase
			background none
			padding 0
			margin 0
			padding-right 1.2em
			border 0
			letter-spacing inherit
			font-family inherit
			font-size inherit
			-webkit-appearance none
			-moz-appearance none
			border-radius 0
			margin-top 0.2em
		.shopify-buy__select-icon
			// display none
			position absolute
			pointer-events none
			top 0.2em
			right 0
			height 1em

.shopify-buy-frame--toggle
	transition transform 500ms $kinetic
	z-index 10 !important
	transform none !important
	top initial !important
	bottom 0
	background $secondary
	color $primary
	cursor pointer
	.shopify-buy__cart-toggle
		padding $padding
		+below($md)
			padding 0.6em $padding

.shopify-buy__cart-toggle
	display flex
	flex-direction row-reverse
	.shopify-buy__cart-toggle__title
		margin-right 1em
		text-transform uppercase

.shopify-buy__btn-wrapper
	display inline-block

+below($md)
	[page-type="shop.product"]
		#shop
			.panel-close, .panel-open
				display none
			.product-infos
				height auto !important
				position initial
