@import 'nib'
@import '../../node_modules/jeet/jeet.styl'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= lighten(#000, 5%)
$accent ?= #ff0000

// Metrics
$padding = 1rem
$menu_raw = calc(1.6rem + 2px)
$menu = calc(1.6rem + 2px)
$menu2x = calc(1.6rem * 2 + 2px)
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

.dev{outline:1px solid #912eff}
.dev > * {outline:1px solid #5497ff}
.dev > * > * {outline:1px solid #51feff}
.dev > * > * > * {outline:1px solid #ff0000}
.dev > * > * > * * {outline:1px solid #00ff00}

// @import '../../node_modules/flickity/dist/flickity.css'
@import '../../www/site/plugins/embed/assets/css/embed.css'

// @import 'font.css'
// @import 'components/_utils.styl'
@import 'components/_animations.styl'
// @import 'plyr/scss/plyr.styl'
@import 'fonts'
@import 'components/_main.styl'
@import 'components/_outdated.styl'
@import 'components/_loader.styl'
@import 'components/_intro.styl'
@import 'components/_header.styl'
@import 'components/_navigation.styl'
@import 'components/_newsletter.styl'
@import 'components/_video-player.styl'
@import 'components/_audio-player.styl'
@import 'components/_pages.styl'
@import 'pages/index.styl'
