webfont('A', 'ApercuMono')
// webfont('TH', 'THGroteskMedium')
// webfont('H', 'HelveticaNeue')
webfont('H', 'HelveticaLTStdRoman')

$line-height = 1.3

text()
	letter-spacing .05em
	font-family "A", monospace, "Lucida Console", Courier New, Helvetica Neue, Arial, sans-serif

small()
	font-size 0.7rem
	+above($md + 1)
		font-size 0.7rem

// Main font styles

::selection
	background alpha($secondary, 0.5)

::-moz-selection
	background alpha($secondary, 0.5)

body,html
	-webkit-text-size-adjust 100%

html
	font-size 12px
	+below($md)
		font-size 12px
	+above($xl + 1)
		font-size 13px

body
	text()
	font-size 1rem
	line-height 1
	text-rendering optimizeLegibility
	font-smoothing()
	&.sans-serif
		font-family "H", Helvetica, Arial, sans-serif
		letter-spacing 0.1em

p
	line-height $line-height
	text-align justify
	&:not(:last-child)
		margin-bottom 1em

.uppercase
	text-transform uppercase

.text-center
	text-align center !important
