webfont('A', 'ApercuMono')

text()
	letter-spacing .05em
	font-family "A", monospace, "Lucida Console", Courier New, Helvetica Neue, Arial, sans-serif

small()
	font-size 0.7rem
	+above($md + 1)
		font-size 0.7rem

// Main font styles

::selection
	background alpha($secondary, 0.5)

::-moz-selection
	background alpha($secondary, 0.5)

body,html
	-webkit-text-size-adjust 100%

html
	font-size 0.85vw
	+below($md)
		font-size 12px
	+above($xl + 1)
		font-size 0.6vw

body
	text()
	font-size 1rem
	line-height 1
	text-rendering optimizeLegibility
	font-smoothing()

p
	line-height inherit
	&:not(:last-child)
		margin-bottom 1em

.uppercase
	text-transform uppercase

.text-center
	text-align center
